

svg {
    position: relative;
	text-align: center;
	width:90%;
	height:85%;
    border: green;
    border-style: solid;
}

path {
 /* stroke: white; */
  stroke-width: 1px;
	vector-effect: non-scaling-stroke;  /*Otherwise the curvewidth becomes scaled*/
  fill: none;
}
.cLabel {
	display: block;
	float:right;
    text-align: right;
    margin-right: 5%;
}

.container {
	height: 45%;
	text-align: center;
	    background: blue;
   border: 1px solid black;
    border-style: solid;
}


.cLeft  {	float:left	}	/*https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_ref_utilities_right*/
.cRight{float:right}


