
html, body {
  height: 100%;
  background: linear-gradient(to bottom right, #ccffff 0%, #ffccff 100%);
}
svg {
    position: relative;
	text-align: center;
	width:90%;
	height:85%;
    border: green;
    border-style: solid;
}

path {
 /* stroke: white; */
  stroke-width: 1px;
	vector-effect: non-scaling-stroke;  /*Otherwise the curvewidth becomes scaled*/
  fill: none;
}
.cLabel {
	display: block;
	float:right;
    text-align: right;
    margin-right: 5%;
}

.container {
	height: 45%;
	text-align: center;
	    background: blue;
   border: 1px solid black;
    border-style: solid;
}


.cLeft  {	float:left	}	/*https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_ref_utilities_right*/
.cRight{float:right}



h2  {

  font-family: cabin;
  padding: 10px;
  text-align: center;
  }

h1  {

  font-family: cabin;
  padding: 10px;
  text-align: center;
  }

h3  {

  font-family: cabin;
  padding: 10px;
  text-align: center;
  }
p    {
font-family: big caslon;
padding: 10px;
text-align: center;
}
form
{
  text-align: center;
  font-family: big caslon;
}
input[type=submit] {
  text-align: center;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  font-family: big caslon;
  border-radius: 4px;
  cursor: pointer;
}
input[type=text], input[type=password], input[type=checkbox] {
  font-family: big caslon;
  width: 100%;
  padding: 12px 20px;
  margin: 2px 2px;
  box-sizing: border-box;
  border-radius: 4px;
}
.button {
  text-align: center;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  font-family: big caslon;
  border-radius: 4px;
  cursor: pointer;
}
