/*POPUP */
.cOverlay {

  position: fixed; /* Sit on top of the page content */
 /* display: none; /* Hidden by default */
  border: solid;/* Show outline of popup */
  border-radius: 4px;
  width: 80%; /* Full width (cover the whole page) */
  height: 80%; /* Full height (cover the whole page) */
  top:10%;
  left: 10%;
  right: 10%;
  bottom: 10%;

  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */

 }

#idText{
	height:50%;
	width:100%;
	color:white;


}
.form1 {
  padding: 5px;
  border: 1px solid #c1c1c1;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
      display: grid;

    color: white;

    border-radius: 4px;
    cursor: pointer;
    background: black;

}
.item-a{
    background:black;
    color: white;
    float:left;

    border: none;
    padding: 16px 32px;

    margin: 4px 2px;

    border-radius: 4px;
    cursor: pointer;
}
.item-b{
  grid-area:main;
}
.item-c{
  grid-area: footer;
}
.cOverlay input {
  margin-bottom: 1rem;

  border: 1px solid #9c9c9c;
}
.form1 button {

  padding: 0.7em;
  border: 0;
}

small {
    display: block
}
.form1 label {
	  grid-column: 1 / 2;
  text-align: right;
  display: block;
  padding: 0.5em 1.5em 0.5em 0;
}

.form1 input {
  width: 100%;
  grid-column: 2 / 3;
  margin-bottom: 0.5rem;
  background: inherit;
  color: inherit;
}
.form1 input:focus {
  outline: 3px solid gold;
}
.cOverlay   small{
	display: none;
  height: fit-content;
}

.cOverlay p, label {
  text-align: initial;

  display: inline;
}
.btn-group input[type=button] {
  background-color: blue; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

/*
@media (min-width: 400px) {
  .form1 {
    overflow: hidden;
  }

.form1  label {
    float: left;
    width: 200px;
  }

.form1  input {
    float: left;
    width: calc(100% - 200px);
  }

.form1  button {
    float: right;
    width: calc(100% - 200px);
  }
}
*/
